@import '../variables.scss';

:export {
  white: $white;
  dark-blue: $dark-blue;
  light-blue: $light-blue;
  light-grey: $light-grey;
  grey: $grey;
  medium-grey: $medium-grey;
  dark-grey: $dark-grey;
  black: $black;
  // export the rest of the variables here
}
